.Filter {
  min-width: 320px;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;
}

.Filter h2 {
  width: fit-content;
  height: 40px;
  font-weight: 700;
  font-size: 16pt;
  line-height: 30px;
}

.filterList {
  width: 100%;
  max-width: 300px;
  height: fit-content;

  display: flex;
  justify-content: space-between;
}

.filter {
  padding: 10px;

  background-color: var(--color-Grey-2);

  border: 1.4px solid var(--color-Grey-2);
  border-radius: 8px;

  cursor: pointer;

  font-weight: 600;
  font-size: 14px;
  line-height: 19px;

  color: var(--color-Grey-4);
}

.filter.selected {
  background-color: var(--color-Primary);
  color: var(--color-Grey-1);
}

@media (min-width: 900px) {
  .Filter {
    flex-direction: row;
  }
}
