@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

:root {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  

  list-style: none;

  --Logo: '/src/assets/img/NuKenzie-Black.svg'; 

  --color-Primary: #FD377E;
  --color-Primary-2: #E34981;
  --color-Secondary: #03B898;

  --color-Grey-1: #F8F9FA;
  --color-Grey-2: #E9ECEF;
  --color-Grey-3: #868E96;
  --color-Grey-4: #212529;

  --title1: font-weight: bold font-size: 28px;
  --title2: font-weight: bold font-size: 24px;
  --title3: font-weight: bold font-size: 20px;
  --title4: font-weight: bold font-size: 12px;
  --Headline: font-size: 16px;

}

a {
  font-weight: 500;
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

body {
  width: 100vw;
  height: 100vh;
}

button {
  border-radius: 8px;
}

#root{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-Grey-4);
}

*{
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}